    #header {
        background-color: pink;
        text-align: center;
    }
    
    h1 {
        color: palevioletred;
    }
    
    blockquote {
        background-color: aqua;
        border: 1px solid yellowgreen;
    }
    
    .nav {
        text-align: center;
    }
    
    .nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    
    .nav ul li {
        margin: 0em 1em;
    }
    
    .gambar {
        text-align: center;
    }
    
    .jawa {
        color: aquamarine;
        font-size: 50PX;
        font-weight: bold;
    }